__pycache__/
*.py[cod]
*.pyo
*.pyd
/.ruff_cache
venv/
dist/
build/
.vscode/
.idea/

editor/analysis/build
config.json
/tests/
.pytest_cache/

/additional/consoles_emulators/

**/tests/

publish/
plans/