# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
/venv/

# Package and dependency files
*.egg-info/
dist/
build/

# Editor / IDE
.vscode/
.idea/

# Misc / temp
*.log
*.tmp
*.bak
tools.txt
.fake
redundant

# Config files
config.json

# Compiled Python
*.cpython-*.pyc
*.cpython-*.pyo

# Test directories
/tests/
.pytest_cache/

/additional/consoles_emulators/